<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Users List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        #one {
            max-width: 90%;
            margin: 20px auto;
            padding: 20px;
            border-radius: 5px;
            background: white;
            text-align: center;
            box-sizing: border-box;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 600px) {
            #one {
                padding: 10px;
            }
        }

        h3 {
            font-size: 2.5vw;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
            font-size: 1.5vw;
        }

        a {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            z-index: 9999;
            box-sizing: border-box;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .popup-content {
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            background-color: #fff;
            border-radius: 5px;
        }

        @media (max-width: 600px) {
            .popup-content {
                width: 95%;
            }
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        li a{
            color: black;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div id="one">
        <h3>Active Users</h3>
        <ul>
            <% Object.keys(active_users).forEach(id => { %>
                <li>ID: <a onclick="redirectToDetails('<%= id %>')"><%= id %> </a> Name: <%= active_users[id] %></</li>
            <% }); %>
        </ul>

        <button onclick="gotohome()">Logout</button>

        <div id="popup" class="popup">
            <h2>Users Details <button class="close" onclick="closePopup()">X</button></h2>
            <h4 id="jsonData"></h4>
        </div>
    </div>

    <script>
        const socket = io("http://localhost:3000");

        function redirectToDetails(id) {
            socket.emit('fetch-data', id);

            socket.on('user-details', async function (user) {
                console.log('Received user details:', user);

                // Extracting relevant information
                const { firstName, lastName, username, email, city, country } = user;

                // Creating an object with the extracted information
                const userDetails = {
                    firstName,
                    lastName,
                    username,
                    email,
                    city,
                    country
                };

                // Displaying the extracted information
                document.getElementById("jsonData").innerText = await JSON.stringify(userDetails, null, 2);
                document.getElementById("popup").style.display = "block";
            });
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        function gotohome() {
            window.location.href = '/logout'
        }
    </script>
</body>
</html>
